body {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgb(238, 236, 236);
}

.navbar {
  position: fixed;
}

.navbar a {
  color: white;
}

.header {
  background-image: linear-gradient(
      to bottom left,
      rgba(0, 0, 0, 1.8) 0%,
      rgba(0, 0, 0, 0.4) 30%
    ),
    url(../images/platter.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.header-title {
  color: white;
  font-size: 50px;
}

.is-transparent {
  color: white;
  padding: 2rem;
}

.section {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.section h2 {
  padding: 3rem;
}

.footer {
  margin-top: 3rem;
}
